body{
    background-color: #bfbbbb;
}
.container{
   
    background-color: #272323;
    display: grid;
    place-items: center;
    justify-content: center;
    margin: 100px auto;
    border-radius: 20px;
    width:700px;
}

h1{
font-size: 50px;
color: white;
}

#quotes{
    font-size: 40px;
    color: #ffffffb5;
    padding: 40px;
    
}
.btn,#change{
    padding: 8px;
    font-size: 1.9rem;
    margin-bottom:20px;
    background-color: rgb(255, 235, 59);
    
}